#recipeheader{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#lasagnapic{
    width: 500px;
}



.watermelonbackground{
    background-color: rgba(247, 170, 170, 0.925);
}
.gazpachofull{
    background-color: rgba(255, 108, 108, 0.925);
}
.lasagnafull{
    background-color: lightblue
}